.createRecipecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fd985e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23F39237' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='23.2' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(241.2 0 0)' %3E%3Ccircle fill='%23F39237' r='10'/%3E%3Cg transform='rotate(-198 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-27.6 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(89.1 0 0)'%3E%3Cg transform='rotate(150.75 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(124.2 0 0)'%3E%3Cg transform='rotate(90.45 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-180.9 0 0)'%3E%3Cg transform='rotate(-89.1 0 0)'%3E%3Cg transform='rotate(-165.6 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe-box label{
  position: relative;
    top: 0;
    left: 0;
    padding: 20px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.recipe-box {
    position: relative;
    width: 700px;
    max-width: 100%;
    height: auto;
    padding: 40px;
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .recipe-box .user-box {
    position: relative;
  }
  
  .recipe-box .user-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .recipe-box .user-box label {
    position: relative;
    top: 0;
    left: 0;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .recipe-box .user-box input:focus ~ label,
  .recipe-box .user-box input:valid ~ label {
    top: -40px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .recipe-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .recipe-box button:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .recipe-box button span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .recipe-box button span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }



  .recipe-box .user-boxi {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
  }
  
  .recipe-box .user-boxi input {
    width: 100%;
    padding: 10px 0;
    display: flex;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .recipe-box .user-boxi label {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .recipe-box .user-boxi input:focus ~ label,
  .recipe-box .user-boxi input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }

  .recipe-box .user-boxi .formicon{
   font-size: 24px;
  }


  .category-container {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: 10px;
  }
  
  .category-item {
    flex: 1 0 calc(20% - 10px); /* 20% for 5 items in one row, minus 10px for margin */
    margin: 5px; /* adjust margin as needed */
  }

  .user-box-select {
    display: grid;
    /* background-color: #bdb8b8; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px; /* add some gap between options */
  }

  .user-box-select select{
   /* background-color: #fd985e; */
  }

  
  .select-option {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
  }
  
  
  @media screen and (max-width: 768px) {
    /* adjust for smaller screens */
    .category-item {
      flex-basis: calc(33.33% - 10px); /* 33.33% for 3 items in one row */
    }
  }
  

  .user-box-select label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .user-box-select select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .user-box-select select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .user-box-select .select-option {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #dee2e6;
  }
  
  .user-box-select .select-option:last-of-type {
    border-bottom: none;
  }
  

  /* .user-boxi .addingredient{
    float:right;
    margin-top: 0px;
  }
  .user-boxi .addingredient:hover {
    background: #828582;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #9da09d;
  } */


  @media screen and (max-width: 768px) {
  
    .createRecipecontainer{
      padding-top: 140px;
    }
    .createRecipecontainer h1{
      font-size: 3em;
    }

  .recipe-box{
    padding: 10px;
    background: transparent;
    border-radius: 0px;
  }

}