.Homecontainer {
    background-image: url(../images/backgroundhome.png);
    background-attachment: fixed;
    background-size: cover;
  }

  @media only screen and (max-width: 769px) {
    .Homecontainer {
      background-image: url(../images/flavourfeedsmall.png);
      background-attachment: fixed;
      background-size:contain;
    }
  }