@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.containerNavbar {
  font-family: "Montserrat", sans-serif;
  color: #ececee;
  width: 100%;
  height: auto;
  background-color: #353746;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 7vw;
  line-height: 1;
  color: #ffeba7;
  text-align: center;
  -webkit-text-stroke: 2px #ffeba7;
  text-stroke: 2px #ffeba7;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}



.logindiv{
  position: fixed;
  top: 55px;
  right: 10px;
  display: flex;
  width: auto;
  height: 50px;
  z-index: 9999;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /* background-color: aqua; */
  /* background-color: #353746; */
}

.logindiv button{
  padding: 4px 14px;
  background-color: #353746;
  border-radius: 12px;
  color: #f8f8f8;
  font-weight: 600;
  font-size: 22px;
  margin: 0 8px;
}

.logindiv a:hover span {
  display: inline;
}


.logindiv a span {
  display: none;
}


.logindiv button:hover{
  background-color: transparent;
  color: #353746;
}

.iconnavone::before {
  content: "Hover Text";
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.iconnavone:hover::before {
  display: block;
}


.logo {
  position: fixed;
  top: -40px;
  left: 10px;
  display: flex;
  align-items: center;
  color: #353746;
  justify-content: center;
  z-index: 1;
  transition: all 250ms linear;
}

.logo h2{
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  text-transform: uppercase;
  font-size: 22px;
  padding: 5px;
  cursor: pointer;
}
.logo img {
  height: 250px;
  width: auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  
  .logo {
    top: -30px;
    left: 0px;
  }
  
  .logo h2{
    font-size: 16px;
    padding: 0px;
  }
  .logo img {
    height: 150px;
    width: auto;
  }
  .logindiv{
    top: 10px;
    right: 10px;
    height: 30px;
    font-size: 18px;
  }
  
  .logindiv button{
    top: 10px;
    padding: 4px 14px;
    font-size: 15px;
  }
  
  .iconnavone{
    font-size: 18px;
  }
  .iconnavtwo{
    font-size: 18px;
  }
  .logindiv span{
    font-size: 12px;
  }
  
}

/* Mobile styles */
@media screen and (max-width: 768px) {

  .logo {
    top: -30px;
    left: -20px;
  }
  
  .logo h2{
    font-size: 12px;
  }
  .logo img {
    height: 125px;
    width: auto;
  }

  .logindiv{
    top: 60px;
    right: 10px;
    height: 50px;
    font-size: 16px;
    width: 100%;
  }
  
  .logindiv button{
    top: 10px;
    height: 30px;
    padding: 2px 8px;
    font-size: 15px;
  }

}